html {
    font-size: 14px;
}

.carousel-item {
    min-height: 280px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.color {
    color: #734e16;
}

img.logo {
    background: url("/path") no-repeat;
    width: 80px;
    height: 80px;
    display: block;
    text-indent: -9999px;
}

.block {
    display: block;
    width: 100%;
    border: none;
    background-color: #734e17;
    padding: 7px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.whiteButtonText {
    color: white;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
