

.wrapper-main{
    width:100%;
    padding:10px 0;
    margin:0 auto;
}
.carousel-item {
    min-height: 280px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}


body {
    margin-bottom: 60px;
}

.color {
    color: #734e16;
}

img.logo {
    background: url("/path") no-repeat;
    width: 80px;
    height: 80px;
    display: block;
    text-indent: -9999px;
}

.rounded-custom-button {
    display: block;
    width: 100%;
    border: none;
    background-color: #734e17;
    padding: 7px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    border-radius: 50rem !important;
    color: white;
}

.rounded-outline-button {
    border: 2px solid #734e17;
    color: #734e17;
    border-radius: 50rem !important;
    padding: 7px 28px;
    color: white;
}

.rounded-icon-button {
    border: 2px solid #734e17;
    color: #734e17;
    border-radius: 50rem !important;
    color: white;
}

.carousel-item {
    min-height: 280px;
}
.color {
    color: #734e16;
}
.block {
    display: block;
    width: 100%;
    border: none;
    background-color: #734e17;
    padding: 7px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.whiteButtonText {
    color: white;
}


.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
}


@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}


body {
    margin-bottom: 60px;
    color: black;
    background-color: white;
}

h1, label, input, select, textarea {
    color: #000;
}

table {
    color: black;
}


    table th {
        color: black;
    }

    table td {
        color: black;
    }

.card {
    border: none;
}

.card-img-top {
    margin: auto;
    display: block;
    padding: 20px;
    max-width: 80%;
    height: auto;
    object-fit: cover;
}

.card-img {
    border-radius: 0;
}

.vgr-cards {
    .card{
    display: flex;
    flex-flow: wrap;
    flex: 100%;
    margin-bottom: 40px;
    margin-top:20px;
    &:nth-child(even) .card-img-body{
    order: 2;
}
&:nth-child(even) .card-body {
    padding-left: 0;
    padding-right: 1.25rem;
}
@media (max-width: 576px) {
    display: block;}
}

.card-img-body {
    flex: 1;
    overflow: hidden;
    position: relative;

    @media (max-width: 576px) {
        width: 100%;
        height: 200px;
        margin-bottom: 20px;
    }
}

.card-img {
    width: 100%;
    height: auto;
    position: absolute;
    margin-left: 50%;
    transform: translateX(-50%);

    @media (max-width: 1140px) {
        margin: 0;
        transform: none;
        width: 100%;
        height: auto;
    }
}


