@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create Opportunity</title>
</head>
<body>

    <h1>Create Opportunity</h1>

    <form action="Form" method="post" width="100%" display="inline-block">

        <label for="eventName">Opportunity Name: </label>
        <input type="text" id="eventName" name="eventName"><br>

        <label for="dateTime">Date</label>
        <input type="datetime-local" id="dateTime" name="dateTime"><br>

        <label for="duration">Duration: </label>
        <input type="text" id="duration" name="duration"><br>

        <label for="address">Address: </label>
        <input type="text" id="address" name="address"><br>

        <label for="city">City: </label>
        <input type="text" id="city" name="city"><br>

        <label for="state">State: </label>
        <input type="text" id="state" name="state"><br>

        <label for="zip">ZIP: </label>
        <input type="text" id="zip" name="zip"><br>

        <label for="numOfVolunteers">Allowed Volunteers: </label>
        <input type="text" id="numOfVolunteers" name="numOfVolunteers"><br>

        <!--<label for="paidUnpaid">Paid or Unpaid: </label><br>
        <input type="radio" id="paid" name="paid" value="Paid">

        <label for="paid">Paid</label>
        <input type="text" id="paid" name="paid"><br>

        <input type="radio" id="unpaid" name="paid" value="Unpaid">
        <label for="unpaid">Unpaid</label><br>
        -->

        <br>
        <br>

        <input type="submit" value="Submit">
        <input type="reset" value="Reset">
    </form>

</body>
</html>
Layout
