
@{
    ViewData["Title"] = "DateForm";
}

<h1>Date Form Results</h1>

<h4 style="color:	#1434A4">
    <b>Your name is: </b>    @ViewBag.Name <br />
    <b>Your email is: </b>  @ViewBag.Email <br />
    <b>Instrument: </b> @ViewBag.Instrument <br />
</h4>

