@{
    ViewData["Title"] = "Home Page";
}
<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="text-center">
            <h1 class="display-4">Welcome to Streams of Sound</h1>
            <img src="images/sos-eric-image.jpg" alt="Eric SoS" class="img-thumbnail rounded float-left">
            <img src="images/sos-image.jpg" alt="Waterfall" class="img-thumbnail rounded text-center">
            <img src="images/sos-john-image.jpg" alt="John Sos" class="img-thumbnail rounded float-right ">
        </div>
    </div>
</div>