<!DOCTYPE html>
<html lang="en">

<head>
    <meta charet="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
</head>

<div class="wrapper-main">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Welcome to Streams of Sound Scheduling Application</h1>
            <p>This app will help us with time management by reducing the need to communicate via text or phone call 
                when filling vacancies where musicians are needed. </p>
        </div>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="card ">
                    <img class="card-img-top" src="~/images/ericbooth.jpg">
                    <div class="card-img-body">
                        <h5 class="card-title">Visit the main Streams of Sound site</h5>
                        <p class="card-text">Learn more about Streams of Sound and their mission at the link.</p>
                        <p>
                            <a href="http://streamsofsound.com/" class="btn btn-primary my-2">Streams of Sound</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="card">
                    <img class="card-img-top" src="~/images/johnbooth.jpg">
                    <div class="card-img-body">
                        <h5 class="card-title">New incoming volunteers</h5>
                        <p class="card-text">Register your account at the link.</p>
                        <a href="~/Identity/Account/Register" class="btn btn-primary my-2">Register</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</html>