@{
    ViewData["Title"] = "Home Page";
}


@*<img src="images/SOSBooth2.jpg" class="d-block w-100"  alt="Streams of Sound Booth">*@

<div class="container">
    <div class="card-group vgr-cards">
        <div class="card">
            <div class="card-img-body">
                <img class="card-img" src="/images/SOSBooth.jpg" alt="Card image cap" width="500" height="334">
            </div>
            <div class="card-body">
                <h4 class="card-title">Streams of Sound</h4>
                <p class="card-text">
                    Welcome to Streams of Sound Scheduling application. To view the Streams of Sound main site, click the button below.
                </p>
                <a href="https://streamsofsound.org/" class="btn btn-outline-primary">Streams of Sound Main</a>
            </div>
        </div>
        <div class="card">
            <div class="card-img-body">
                <img class="card-img" src="~/images/SOSBooth3.jpg" alt="Card image cap" width="500" height="334">
            </div>
            <div class="card-body">
                <h4 class="card-title">Profile</h4>
                <p class="card-text">Text here.</p>
                <a href="#" class="btn btn-outline-primary">Primary</a>
            </div>
        </div>
    </div>
</div>



