
<div class="center">
    <h1>@ViewData["Title"]</h1>
</div>
<div>
        <h4>
            Your password has been set up! Please click the Login button below to sign into your new staff account!
        </h4>
    <button class="btn btn-success" asp-area="Identity" asp-page="/Account/Login">Login</button>
</div>