
<div class="center">
    <h1>@ViewData["Title"]</h1>
</div>
<div>
        <h4>
            Your password has been set up! Please click the Login button below to sign into your new staff account!
        </h4>
        <a href="~/Identity/Account/Login" class="btn btn-primary my-2">Click to Login</a>
</div>