
@{
    ViewData["Title"] = "CancelOpportunity";
}

<h1>Cancel Opportunity</h1>
<h2>Are you sure you want to cancel?</h2>
<br />
<form>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Reason for Cancelling</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
</form>
<br />
<button type="button" class="btn btn-danger">Cancel</button>