@model CreateOpportunityRequest
@{
    ViewData["Title"] = "Create";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
</head>
<style>
    .container {
        max-width: 1000px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
    }
</style>
<body>
    @Html.AntiForgeryToken()
    <h1>@ViewData["Title"]</h1>
    <form id="frm-create" method="post">
        <div class="col-md-6 mb-3">
            <label for="name">Opportunity Name</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="col-md-6 mb-3">
            <label for="Date">StartTime</label>
            <input type="datetime-local" class="form-control" id="StartTime" name="StartTime">
        </div>
        <div class="col-md-6 mb-3">
            <label for="Date">EndTime</label>
            <input type="datetime-local" class="form-control" id="EndTime" name="EndTime">
        </div>
        <div class="col-md-6 mb-3">
            <a href="javascript:void(0);" class="btn btn-primary" id="add-slot">Add Instruments and Time Slots</a>
            <div id="time-slots">
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <label for="description">Description</label>
            <textarea id="description" class="form-control" name="description" rows="3"></textarea>
        </div>
        <div class="col-md-6 mb-3">
            <label for="address">Address</label>
            <input type="text" class="form-control" id="address" name="address">
        </div>
        <div class="col-md-6 mb-3">
            <label for="address1">Address 1 (Optional)</label>
            <input type="text" class="form-control" id="address1" name="address1">
        </div>
        <div class="col-md-6 mb-3">
            <label for="city">City</label>
            <input type="text" class="form-control" id="city" name="city">
        </div>
        <div class="col-md-3 mb-3">
            <label for="state">State:</label>
            <select class="form-control" id="state" name="state">
                <option selected disabled value="">Choose...</option>
                <option value="AL">AL</option>
                <option value="AK">AK</option>
                <option value="AZ">AZ</option>
                <option value="AR">AR</option>
                <option value="CA">CA</option>
                <option value="CO">CO</option>
                <option value="CT">CT</option>
                <option value="DE">DE</option>
                <option value="DC">DC</option>
                <option value="FL">FL</option>
                <option value="GA">GA</option>
                <option value="HI">HI</option>
                <option value="ID">ID</option>
                <option value="IL">IL</option>
                <option value="IN">IN</option>
                <option value="IA">IA</option>
                <option value="KS">KS</option>
                <option value="KY">KY</option>
                <option value="LA">LA</option>
                <option value="ME">ME</option>
                <option value="MD">MD</option>
                <option value="MA">MA</option>
                <option value="MI">MI</option>
                <option value="MN">MN</option>
                <option value="MS">MS</option>
                <option value="MO">MO</option>
                <option value="MT">MT</option>
                <option value="NE">NE</option>
                <option value="NV">NV</option>
                <option value="NH">NH</option>
                <option value="NJ">NJ</option>
                <option value="NM">NM</option>
                <option value="NY">NY</option>
                <option value="NC">NC</option>
                <option value="ND">ND</option>
                <option value="OH">OH</option>
                <option value="OK">OK</option>
                <option value="OR">OR</option>
                <option value="PA">PA</option>
                <option value="RI">RI</option>
                <option value="SC">SC</option>
                <option value="SD">SD</option>
                <option value="TN">TN</option>
                <option value="TX">TX</option>
                <option value="UT">UT</option>
                <option value="VT">VT</option>
                <option value="VA">VA</option>
                <option value="WA">WA</option>
                <option value="WV">WV</option>
                <option value="WI">WI</option>
                <option value="WY">WY</option>
            </select>
        </div>
        <div class="col-md-3 mb-3">
            <label for="zip">Zip</label>
            <input type="text" class="form-control" id="zip" name="zip">
        </div>
        <input class="btn btn-primary" type="submit" value="Submit">
        <input type="reset" value="Reset" class="btn btn-warning">
    </form>
</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<script>
    $(document).ready(function () {
    $("#frm-create").on("click", ".btn-delete", function(){
        var slotId = $(this).attr("data-slot");
        $("#instrument-"+slotId).remove();
        slotCounter--;
        var newSlotCount = 0;
            const regex =  /\[[0-9]+\]/gm;
        $(".instrument").each(function(k, v){
            var oldHtml = $(v).html();
                var newHtml = oldHtml.replace(regex, "[" + newSlotCount + "]");
                console.log({new_Html:newHtml});
                $(v).html(newHtml);
                newSlotCount++;
        });
        slotCounter = newSlotCount;
    });
        });
    document.querySelector('form').addEventListener('submit', function (event) {
        var name = document.getElementById('name').value;
        var startDateTime = document.getElementById('StartDateTimeUtc').value;
        var endDateTime = document.getElementById('endDateTimeUtc').value;
        var description = document.getElementById('description').value;
        var address = document.getElementById('address').value;
        var address1 = document.getElementById('address1').value;
        var state = document.getElementById('state').value;
        var city = document.getElementById('city').value;
        var zip = document.getElementById('zip').value;
        var SlotsOpenings = document.getElementById('SlotsOpenings').value;

        if (name === '') {
            alert('Please enter Opportunity Name.');
            event.preventDefault();
            return false;
        }

        if (startDateTime === '') {
            alert('Please enter Start Date & Time.');
            event.preventDefault();
            return false;
        }

        if (endDateTime === '') {
            alert('Please enter End Date & Time.');
            event.preventDefault();
            return false;
        }

        if (description === '') {
            alert('Please enter Description.');
            event.preventDefault();
            return false;
        }

        if (address === '') {
            alert('Please enter Address.');
            event.preventDefault();
            return false;
        }

        if (state === '') {
            alert('Please select State.');
            event.preventDefault();
            return false;
        }

        if (city === '') {
            alert('Please enter City.');
            event.preventDefault();
            return false;
        }

        if (zip === '') {
            alert('Please enter Zip.');
            event.preventDefault();
            return false;
        }

        if (SlotsOpenings === '') {
            alert('Please enter Slots Openings.');
            event.preventDefault();
            return false;
        }


    });
    const timeSlotsDiv = document.querySelector("#time-slots");
    const addSlotButton = document.querySelector("#add-slot");
    var slotCounter = 0;
    addSlotButton.addEventListener("click", () => {
        
        const newSlot = document.createElement("div");
        var slotRow = '<div class="instrument" id="instrument-'+slotCounter+'">'
        slotRow += '<label for="instruments">Instruments</label>';
        slotRow += '<input type="text" id="instruments" name="Slots[' + slotCounter + '].Instrument" placeholder="Instruments">';
        slotRow += '<label for="startTime">Start:</label>';
        slotRow += '<input type="time" id="startTime" name="Slots[' + slotCounter + '].StartTime" max="23:00" min:"5:00">';
        slotRow += '<label for="endTime">End:</label>';
        slotRow += '<input type="time" id="endTime" name="Slots[' + slotCounter + '].EndTime" max="23:00" min:"5:00"">';
        slotRow += '<a href="javascript:void(0);" class="btn btn-danger btn-delete" data-slot="'+slotCounter+'">Delete Slot</a>' 
        slotRow += '</div>'

        newSlot.innerHTML = slotRow;
        timeSlotsDiv.appendChild(newSlot);
        slotCounter++;
    });

</script>
