@{
    ViewData["Title"] = "Create";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
</head>
<body>
    @Html.AntiForgeryToken()
    <h1>@ViewData["Title"]</h1>
    <form method="post">
        <div class="col-md-6 mb-3">
            <label for="name">Opportunity Name:</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="col-md-6 mb-3">
            <label for="StartDateTimeUtc">Start Date & Time:</label>
            <input type="datetime-local" class="form-control" id="StartDateTimeUtc" name="StartDateTimeUtc" required>
        </div>
        <div class="col-md-6 mb-3">
            <label for="endDateTimeUtc">End Date & Time:</label>
            <input type="datetime-local" class="form-control" id="endDateTimeUtc" name="endDateTimeUtc" required>
        </div>
        <div class="col-md-6 mb-3">
            <label for="description">Description:</label>
            <textarea id="description" class="form-control" name="description" rows="3" required></textarea>
        </div>
        <div class="col-md-6 mb-3">
            <label for="address">Address:</label>
            <input type="text" class="form-control" id="address" name="address" required>
        </div>
        <div class="col-md-6 mb-3">
            <label for="address1">Address 1:</label>
            <input type="text" class="form-control" id="address1" name="address1">
        </div>
        <div class="col-md-3 mb-3">
            <label for="validationServer04">State:</label>
            <select class="form-control" required name="State" id="State" >
                <option selected disabled value="">Choose...</option>
                <option value="AL">AL</option>
                <option value="AK">AK</option>
                <option value="AZ">AZ</option>
                <option value="AR">AR</option>
                <option value="CA">CA</option>
                <option value="CO">CO</option>
                <option value="CT">CT</option>
                <option value="DE">DE</option>
                <option value="DC">DC</option>
                <option value="FL">FL</option>
                <option value="GA">GA</option>
                <option value="HI">HI</option>
                <option value="ID">ID</option>
                <option value="IL">IL</option>
                <option value="IN">IN</option>
                <option value="IA">IA</option>
                <option value="KS">KS</option>
                <option value="KY">KY</option>
                <option value="LA">LA</option>
                <option value="ME">ME</option>
                <option value="MD">MD</option>
                <option value="MA">MA</option>
                <option value="MI">MI</option>
                <option value="MN">MN</option>
                <option value="MS">MS</option>
                <option value="MO">MO</option>
                <option value="MT">MT</option>
                <option value="NE">NE</option>
                <option value="NV">NV</option>
                <option value="NH">NH</option>
                <option value="NJ">NJ</option>
                <option value="NM">NM</option>
                <option value="NY">NY</option>
                <option value="NC">NC</option>
                <option value="ND">ND</option>
                <option value="OH">OH</option>
                <option value="OK">OK</option>
                <option value="OR">OR</option>
                <option value="PA">PA</option>
                <option value="RI">RI</option>
                <option value="SC">SC</option>
                <option value="SD">SD</option>
                <option value="TN">TN</option>
                <option value="TX">TX</option>
                <option value="UT">UT</option>
                <option value="VT">VT</option>
                <option value="VA">VA</option>
                <option value="WA">WA</option>
                <option value="WV">WV</option>
                <option value="WI">WI</option>
                <option value="WY">WY</option>
            </select>
        </div>
        <div class="col-md-6 mb-3">
            <label for="city">City:</label>
            <input type="text" class="form-control" id="city" name="city" required>
        </div>
        <div class="col-md-3 mb-3">
            <label for="zip">Zip: </label>
            <input type="text" class="form-control" id="zip" name="zip" required>
        </div>
        <div class="col-md-3 mb-3">
            <label for="SlotsOpenings">Slots Openings: </label>
            <input type="text" class="form-control" id="SlotsOpenings" name="SlotsOpenings" required>
        </div>
        <input class="btn btn-primary" type="submit" value="Submit">
        <input type="reset" value="Reset" class="btn btn-warning">
    </form>
</body>
</html>

<script>document.querySelector('form').addEventListener('submit', function (event) {
        var name = document.getElementById('name').value;
        var startDateTime = document.getElementById('StartDateTimeUtc').value;
        var endDateTime = document.getElementById('endDateTimeUtc').value;
        var description = document.getElementById('description').value;
        var address = document.getElementById('address').value;
        var address1 = document.getElementById('address1').value;
        var state = document.getElementById('state').value;
        var city = document.getElementById('city').value;
        var zip = document.getElementById('zip').value;
        var SlotsOpenings = document.getElementById('SlotsOpenings').value;

        if (name === '') {
            alert('Please enter Opportunity Name.');
            event.preventDefault();
            return false;
        }

        if (startDateTime === '') {
            alert('Please enter Start Date & Time.');
            event.preventDefault();
            return false;
        }

        if (endDateTime === '') {
            alert('Please enter End Date & Time.');
            event.preventDefault();
            return false;
        }

        if (description === '') {
            alert('Please enter Description.');
            event.preventDefault();
            return false;
        }

        if (address === '') {
            alert('Please enter Address.');
            event.preventDefault();
            return false;
        }

        if (state === '') {
            alert('Please select State.');
            event.preventDefault();
            return false;
        }

        if (city === '') {
            alert('Please enter City.');
            event.preventDefault();
            return false;
        }

        if (zip === '') {
            alert('Please enter Zip.');
            event.preventDefault();
            return false;
        }

        if (SlotsOpenings === '') {
            alert('Please enter Slots Openings.');
            event.preventDefault();
            return false;
        }
    });</script>
