@page
@model RegisterModel

<h1>@ViewData["Title"]</h1>

<section class="">
    <!-- Jumbotron -->
    <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
        <div class="container">
            <div class="row gx-lg-5 align-items-center">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                         <div class="form-outline mb-4">
                            <input asp-for="Input.FirstName" class="form-control" aria-required="true" />
                            <label asp-for="Input.FirstName"></label>
                            <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                         </div>
                        <div class="form-outline mb-4">
                            <input asp-for="Input.LastName" class="form-control" aria-required="true" />
                            <label asp-for="Input.LastName"></label>
                            <span asp-validation-for="Input.LastName" class="text-danger"></span>
                        </div>
                        <div class="form-outline mb-4">
                            <textarea asp-for="Input.Instruments" class="form-control" aria-required="true" placeholder="Handpan, Drums, Guitar, etc."></textarea>
                            <label asp-for="Input.Instruments"></label>
                            <span asp-validation-for="Input.Instruments" class="text-danger"></span>
                        </div>
                        <div class="form-outline mb-4">
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                            <label asp-for="Input.Email"></label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-outline mb-4">
                            <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                            <label asp-for="Input.Password"></label>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-outline mb-4">
                            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                            <label asp-for="Input.ConfirmPassword"></label>
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="whiteButtonText">
                            <button id="registerSubmit" type="submit" class="rounded-custom-button">Register</button>
                        </div>
                    </form>
                </div>

                <div class="col-lg-6 mb-5 mb-lg-0">
                    <h1 class="my-5 display-3 fw-bold ls-tight">
                        Welcome message placeholder <br />
                        <!-- Jumbotron
                            <span class="bold">Streams of Sound</span>
                        -->
                    </h1>
                    <p style="color: hsl(217, 10%, 50.8%)">
                        Placeholder for photo provided by client
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Jumbotron -->
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
