@using Microsoft.AspNetCore.Identity
@using StreamsOfSound.Data
@using StreamsOfSound.Models
@inject SignInManager<StreamsOfSound.Models.ApplicationUser> SignInManager
@inject UserManager<StreamsOfSound.Models.ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StreamsOfSounds</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/StreamsOfSounds.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light" style="background-color: #734e16;">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img class="logo" src="~/images/whiteSOSLogo.png" alt="soslogo" />
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Opportunity" asp-action="OpportunityStaffList">Opportunity List</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Manage Opportunities</a>
                                <div class="dropdown-menu" id="dropdown-style">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Opportunity" asp-action="Create">Create an Opportunity</a>
                                    <a class="nav-link text-light" asp-area="" asp-controller="Opportunity" asp-action="ArchiveList">Archived Opportunities</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Manage Staff</a>
                                <div class="dropdown-menu">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="RegisterNewStaff">Add a New Staff Member</a>
                                </div>
                            </li>
@*                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Manage Volunteers</a>
                                <div class="dropdown-menu">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="ActiveVolunteerList">Active Volunteers</a>
                                    <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="ArchiveVolunteers">Archive Volunteers</a>
                                </div>
                            </li>*@
                        }
                        else if (SignInManager.IsSignedIn(User) && User.IsInRole("Volunteer"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Opportunity" asp-action="OpportunityStaffList">Opportunity List</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Opportunity" asp-action="MyOpportunities">My Opportunities</a>
                            </li>
                        }

                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
<footer class="footer">
    &copy; 2023 - Streams Of Sound
</footer>
</html>